@model CourierCompany.Models.DeliveryEquipmentRating

<tr>
    <td>@Html.LabelFor(m => m.IsIntimeEquipment):</td>
    <td>@Model.IsIntimeEquipment</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.IsCompleteEquipment):</td>
    <td>@Model.IsCompleteEquipment</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.CommonDeliveryRaitingEquipment):</td>
    <td>@Model.CommonDeliveryRaitingEquipment</td>
</tr>

<tr>
    <td>Comment:</td>
    <td><textarea readonly type="text" name="TextCommentEquipment" class="form-control" rows="3">@Model.TextCommentEquipment</textarea></td>
</tr>
