@model CourierCompany.Models.DeliveryFoodRating

<tr>
    <td>@Html.LabelFor(m => m.IsIntimeFood):</td>
    <td>@Model.IsIntimeFood</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.FreshFood):</td>
    <td>@Model.FreshFood</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.СorrectPackFood):</td>
    <td>@Model.СorrectPackFood</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.CommonDeliveryRaitingFood):</td>
    <td>@Model.CommonDeliveryRaitingFood</td>
</tr>

<tr>
    <td>Comment:</td>
    <td><textarea readonly type="text" name="TextCommentFood" class="form-control" rows="3">@Model.TextCommentFood</textarea></td>    
</tr>
