@model CourierCompany.Models.DeliveryFragileRating

<tr>
    <td>@Html.LabelFor(m => m.IsIntimeFragile):</td>
    <td>@Model.IsIntimeFragile</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.IsDefectFragile):</td>
    <td>@Model.IsDefectFragile</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.IsPackCompleteFragile):</td>
    <td>@Model.IsPackCompleteFragile</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.CommonDeliveryRaiting):</td>
    <td>@Model.CommonDeliveryRaiting</td>
</tr>

<tr>
    <td>Comment:</td>
    <td><textarea readonly type="text" name="TextComment" class="form-control" rows="3">@Model.TextComment</textarea></td>
</tr>

