@model CourierCompany.Models.DeliveryFragileGoodsRating

<tr>
    <td>@Html.LabelFor(m => m.IsIntimeFragileGoods):</td>
    <td>@Model.IsIntimeFragileGoods</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.IsDefectFragileGoods):</td>
    <td>@Model.IsDefectFragileGoods</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.IsPackCompleteFragileGoods):</td>
    <td>@Model.IsPackCompleteFragileGoods</td>
</tr>

<tr>
    <td>@Html.LabelFor(m => m.CommonDeliveryRaitingFragileGoods):</td>
    <td>@Model.CommonDeliveryRaitingFragileGoods</td>
</tr>

<tr>
    <td>Comment:</td>
    <td><textarea readonly type="text" name="TextCommentFragileGoods" class="form-control" rows="3">@Model.TextCommentFragileGoods</textarea></td>
</tr>

