@model IEnumerable<CourierCompany.Models.Delivery>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<page class="Page">
    <h2 align="center">Reviews</h2>
    <table class="tableCourierCompany" border="1" align="center">
        <tr>
            <th colspan="2">@Html.ActionLink("Main Menu", "Main", "Main", null, new { @class = "btn btn-info btn-block" })</th>
            <th colspan="5">@Html.ActionLink("Find for Id", "FindDeliveryForID", "Delivery", null, new { @class = "btn btn-success btn-block" }) </th>
        </tr>
        <tr>
            <th># delivery</th>
            <th>Sender Name</th>
            <th>Receiver Name</th>
            <th>Delivery Type</th>
            <th>Reviews</th>
        </tr>

        @foreach (var item in Model)
        { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType)
            </td>
            <td>                
                @Html.ActionLink("Detail", "ViewDelivery", "Delivery", new { id = item.DeliveryId }, new { @class="btn btn-success btn-block" } )               
            </td>
         </tr>
         }
    </table>
</page>