@model CourierCompany.Models.Delivery
@using CourierCompany.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<page class="Page">
    <h2 align="center">Detail delivery:</h2>

    <table align="center" class="tableCourierCompany" border="1">
        <tr>
            <td>@Html.LabelFor(m => m.DeliveryId):</td>
            <td>@Html.DisplayFor(m => m.DeliveryId)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.SenderName):</td>
            <td>@Html.DisplayFor(m => m.SenderName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.SenderAddress):</td>
            <td>@Html.DisplayFor(m => m.SenderAddress)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.ReceiverName):</td>
            <td>@Html.DisplayFor(m => m.ReceiverName)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.ReceiverAddress):</td>
            <td>@Html.DisplayFor(m => m.ReceiverAddress)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(m => m.DeliveryType):</td>
            <td>@Html.DisplayFor(m => m.DeliveryType)</td>
        </tr>

        <tr>
            <td colspan="2" align="center"><button type="button" class="btn btn-success btn-block" align="center" onclick="location.href='@Url.Action("Main", "Main")'">Main manu</button></td>
        </tr>

        <tr>
            <td colspan="2" align="center"><button type="button" class="btn btn-primary btn-block" align="center" onclick="location.href='@Url.Action("ListReviews", "Reviews")'">All reviews</button></td>
        </tr>

        <tr>
            <td colspan="2" align="center">Add review:</td>
        </tr>

        @helper ButtonAddRating(Delivery delivery)
        {
        
        ViewBag.DeliveryId = delivery.DeliveryId;

        if (delivery.DeliveryType == (DeliveryType)0)
            {
                @Html.Partial("_RatingFoodDelivery", Model)
            }

        else if (delivery.DeliveryType == (DeliveryType)1)
            {
                @Html.Partial("_RatingFragileGoodsDelivery", Model)
            }

        else if (delivery.DeliveryType == (DeliveryType)2)
            {
                @Html.Partial("_RatingEquipmentDelivery", Model)
            }
        }

        @ButtonAddRating(Model)

    </table>
</page>
